.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 40px;
  padding: 16px 8px;
  color: var(--inverted-text-color);
  background-color: var(--main-accent-color);
  border-radius: 4px;
  transition: background 100ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--main-accent-dimmed-color);
  }

  &--secondary {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);

    &:hover {
      background-color: var(--dimmed-background-color);
    }
  }
}
