.labeled-input {
  @mixin labeled-view;

  &__label {
    color: var(--secondary-text-color);
  }

  &__field {
    appearance: none;
    display: flex;
    width: auto;
    min-width: 100px;
    padding: 0;
    margin: 0;
    font: inherit;
    text-align: end;
    background: none;
    border: none;
    outline: none;
  }
}
