.modal-box {
  display: grid;
  width: 100%;
  min-width: 320px;
  max-width: 360px;
  padding: 32px 16px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(var(--shadow-color), 0.05);

  &__title {
    margin: 0 0 24px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
}
