<main>
  {{#> profileLayout}}
  <form action="/profile" method="get">
    <div class="profile-view">
      <div class="profile-view__details">
        <div class="profile-view__heading">
          {{> avatar class="profile-view__avatar" width="120" height="120"}}
        </div>
        {{> labeledInput
          label="Старый пароль"
          value="12345678901234567890123"
          placeholder="Введите старый пароль"
          name="old_password"
          type="password"
        }}
        {{> labeledInput
          label="Новый пароль"
          value="1234567890123456789012"
          placeholder="Введите новый пароль"
          name="new_password"
          type="password"
        }}
        {{> labeledInput
          label="Новый пароль ещё раз"
          value="1234567890123456789012"
          placeholder="Введите новый пароль"
          name="repeat_new_password"
          type="password"
        }}
      </div>
      <div class="profile-view__actions profile-view__actions--row">
        {{#> button class="button--secondary" type="button"}}
          Отменить
        {{/button}}
        {{#> button type="submit"}}
          Сохранить
        {{/button}}
      </div>
    </div>
  </form>
  {{/profileLayout}}
</main>
