<main>
  <div class="modal-layout">
    {{#> modalBox title="Регистрация"}}
    <form class="login-form" action="/" method="get">
      <div class="login-form__wrapper">
        <div class="login-form__section">
          {{> inputField label="Почта" placeholder="Введите адрес эл. почты" value="gandalf@gg.wp" type="text" }}
          {{> inputField label="Логин" placeholder="Введите логин" value="gandalf2000" type="text" }}
          {{> inputField label="Имя" placeholder="Введите имя" value="Гендальф" type="text" }}
          {{> inputField label="Фамилия" placeholder="Введите фамилию" value="Белый" type="text" }}
          {{> inputField label="Телефон" placeholder="Введите номер телефона" value="+7 (999) 888-88-88" type="text" }}
          {{> inputField label="Пароль" placeholder="Введите пароль" value="12345678901234567890123" type="password"
          error=true }}
          {{> inputField label="Пароль ещё раз" placeholder="Введите пароль еще раз" value="12345678901234567890123"
          type="password"
          error=true errorMessage="Неверный пароль" }}
        </div>
        <div class="login-form__section">
          {{#> button type="submit"}}
          Зарегистрироваться
          {{/button}}
          {{#> centeredBox}}
          <a href="/login">Войти</a>
          {{/centeredBox}}
        </div>
      </div>
    </form>
    {{/modalBox}}
  </div>
</main>