<div class="error-view">
  <p class="error-view__message">
    <b class="error-view__code">{{code}}</b>
    <span class="error-view__message-text">{{message}}</span>
  </p>
  <a class="error-view__goback-button" href="/">Назад к чатам</a>
</div>
