:root {
  --primary-text-color: #121212;
  --secondary-text-color: #888888;
  --main-accent-color: #008e44;
  --main-accent-dimmed-color: #08723b;
  --background-color: #f6f6f6;
  --dimmed-background-color: #f0f0f0;
  --secondary-background-color: #e2e2e2;
  --border-color: #e2e2e2;
  --danger-color: #d70012;
  --inverted-text-color: var(--background-color);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 13px;
  font-weight: 400;

  color-scheme: light;
  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

a,
.inline-button {
  color: var(--main-accent-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &--danger {
    color: var(--danger-color);
  }
}

#app {
  width: 100%;
  margin: 0 auto;
}

.centered-box {
  display: flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  place-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 40px;
  padding: 16px 8px;
  color: var(--inverted-text-color);
  background-color: var(--main-accent-color);
  border-radius: 4px;
  transition: background 100ms ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--main-accent-dimmed-color);
  }

  &--secondary {
    color: var(--primary-text-color);
    background-color: var(--background-color);
    border: 1px solid var(--border-color);

    &:hover {
      background-color: var(--dimmed-background-color);
    }
  }
}

.inline-button {
  display: inline;
  text-align: start;
}

.modal-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  padding: 64px 0;
  background-color: var(--secondary-background-color);
}

.avatar {
  display: flex;
}

.avatar-file-input {
  position: relative;

  &__label-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    padding: 0 16px;
    color: var(--inverted-text-color);
    font-weight: 500;
    text-align: center;
    background-color: rgba(var(--primary-text-color), 0.5);
    border-radius: 1000px;
    opacity: 0;
    transition: opacity 100ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  & input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }
}

.profile-layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  &__header {
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 8px 16px;
  }

  &__goback-button {
    font-weight: 500;
  }
}

.profile-view {
  display: grid;
  width: 100%;
  max-width: 532px;
  margin: 0 auto;
  padding: 96px 16px;

  &__heading {
    display: grid;
    gap: 8px;
    min-height: 180px;
    justify-content: center;
  }

  &__title {
    font-size: 16px;
    text-align: center;
  }

  &__details {
    display: grid;
    gap: 12px;

    & > :last-child {
      border: none;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-top: 32px;

    &--row {
      flex-direction: row;
      align-items: stretch;
      gap: 12px;
    }
  }
}

.labeled-value,
.labeled-input {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-color);

  &__label {
    font-weight: 500;
  }

  &__value {
    color: var(--secondary-text-color);
  }
}

.labeled-input {
  &__label {
    color: var(--secondary-text-color);
  }

  &__field {
    appearance: none;
    display: flex;
    width: auto;
    min-width: 100px;
    padding: 0;
    margin: 0;
    font: inherit;
    text-align: end;
    background: none;
    border: none;
    outline: none;
  }
}

.modal-box {
  display: grid;
  width: 100%;
  min-width: 320px;
  max-width: 360px;
  padding: 32px 16px;
  background-color: var(--background-color);
  border-radius: 8px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);

  &__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
}

.chats-layout {
  display: grid;
  grid-template-columns: 320px 1fr;
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  max-height: 100vh;
  overflow: auto;
  border-right: 1px solid var(--border-color);
}

.sidebar-header {
  display: grid;
  gap: 12px;
  padding: 12px 16px 24px;
  border-bottom: 1px solid var(--border-color);

  &__profile-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    height: 24px;
    margin-left: auto;
    color: var(--secondary-text-color);
    text-decoration: none;

    &:hover {
      color: var(--main-accent-color);
    }
  }

  &__search-field {
    position: relative;

    & > svg {
      position: absolute;
      top: 50%;
      left: 0;
      margin: 0 8px;
      color: var(--secondary-text-color);
      transform: translateY(-50%);
    }

    & > input {
      width: 100%;
      padding: 8px;
      padding-left: 36px;
      font-size: 13px;
      background-color: var(--secondary-background-color);
      border: none;
      border-radius: 8px;

      &::placeholder {
        color: var(--secondary-text-color);
      }
    }
  }
}

.chat-list-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  padding: 8px 16px;
  border-bottom: 1px solid var(--border-color);

  &:hover {
    background-color: var(--dimmed-background-color);
  }

  &__header,
  &__preview {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4px;
  }

  &__name {
    font-weight: 600;
  }

  &__time {
    color: var(--secondary-text-color);
    font-size: 10px;
  }

  &__preview-text {
    color: var(--secondary-text-color);
  }

  &__outgoing-mark {
    color: var(--primary-text-color);
    font-weight: 500;
  }

  &__preview-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: var(--inverted-text-color);
    font-size: 11px;
    font-weight: 500;
    background-color: var(--main-accent-color);
    border-radius: 10px;
  }
}

.login-form {
  &__wrapper {
    display: grid;
    gap: 32px;
  }

  &__section {
    display: grid;
    gap: 12px;
  }
}

.input-field {
  display: grid;
  gap: 6px;

  &__label-text {
    margin-left: 2px;
    font-size: 10px;
  }

  &__error {
    color: var(--danger-color);
    font-size: 10px;
  }

  &__input {
    height: 40px;
    padding: 8px 12px;
    font-size: 13px;
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;

    &::placeholder {
      color: var(--secondary-text-color);
    }

    &:focus {
      border-color: var(--main-accent-color);
      outline-color: var(--main-accent-color);
    }

    &--error {
      color: var(--danger-color);
    }
  }
}

.error-view {
  display: grid;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  text-align: center;

  &__message {
    display: grid;
    gap: 8px;
    margin: 0;
  }

  &__code {
    font-size: 40px;
    font-weight: 900;
  }
}
